body {
    background-color: #5D5D81;


    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #505082;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 10px 20px;
    flex-grow: 1;
}

form {
    padding: 30px 20px;

}




footer p {
    color: #FEFCFD;
}

a {
    color:#000505
}


a:visited {
    color:#000505;   
}

a:hover {
    color:#BFCDE0
}
                              
.navbar {
    padding: 25px;
    margin: 10px;
    margin: 0;
    letter-spacing: 5px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    display: inline;
}

.navbar a {
    text-decoration: none;
}

.missionStatement {
    padding: 150px 100px;
    margin: 50px;
    background-image: url("Images/studentIMG.jpeg");
    background-size: cover;
}

.missionStatement h1, .missionStatement p{
    align-items: end;
    color: #FEFCFD;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px 20px;
}

#transportation, #financial-aid, #textbooks,#finances {
    border: outset;
    padding: 30px 50px;
    margin: 50px;
    background-color: #FEFCFD;
}

#financial-aid {
    border: outset;
}



#transportation h2{
    text-align: end;
    color: #000505;
    font-size: 30px;
}

#transportation
 p {
    text-align: start;
    color: #000505;
}

#financial-aid,
 h2 {
    text-align: start;
    color: #000505;
    font-size: 30px;
}

#financial-aid p {
    text-align: end;
    color: #000505;
}

#textbooks h2 {
    text-align: end;
    color: #000505;
    font-size: 30px
}

#textbooks p {
    text-align: start;
    color: #000505;
}

#finances h2{
    text-align: start;
    color: #000505;
    font-size: 30px;
}

#finances p {
    text-align: end;
    color: #000505;
}

#financeCalc {
    background-color: #505082;
    color: #FEFCFD;
    border-style: outset;
    text-shadow: none;
    text-decoration: none;
}

#financeCalc:hover {
    background-color: #BFCDE0;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#calculatorHeading {
    text-align: center;
}

#form {
    text-align: center;
    margin: 20px 30px;
}


#monthly {
    padding: 10px 10px;
    margin: 20px 30px;
    text-shadow: none;
}

#submit {
    color:#FEFCFD;
    background-color: #5D5D81;
    border-style: solid;
}

#backToIndex:hover {
    text-decoration: none;
    color: #FEFCFD;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}




.container {
    display: flex;
    column-gap: 30px;
    background-color: #BFCDE0;
}

.container ul {
    list-style: none;
    text-align: center;
    background-position: 100%;
}


.ourMission {
    padding: 150px 100px;
    margin: 50px;
    background-image: url("Images/studentsuccess.png");
    background-size: cover;
}

.ourMission h2, p{
    text-align: center;
    color:#000505;
}

.calculator {
    border: outset #BFCDE0;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 40px 40px
}

.calculator h3 {
    text-align: center;
}

